B√†i 1

In [12]:
import sqlite3
import math

conn = sqlite3.connect('data.db')
conn.create_function('SQRT', 1, math.sqrt)
conn.create_function('POWER', 2, lambda x, y: x**y)
cursor = conn.cursor()

# T·∫°o b·∫£ng v√† ch√®n d·ªØ li·ªáu nh∆∞ tr√™n
cursor.execute('''
CREATE TABLE IF NOT EXISTS data_table (
    id INTEGER PRIMARY KEY,
    A REAL,
    B REAL
)
''')
conn.commit()

cursor.execute("DELETE FROM data_table")  # X√≥a d·ªØ li·ªáu c≈©
sample_data = [
    (1, 10, 20),
    (2, 15, 25),
    (3, 20, 30),
    (4, 25, 35),
    (5, 30, 40)
]
cursor.executemany('INSERT INTO data_table (id, A, B) VALUES (?, ?, ?)', sample_data)
conn.commit()

# T√≠nh h·ªá s·ªë t∆∞∆°ng quan b·∫±ng SQL
query = '''
SELECT 
    (COUNT(*) * SUM(A * B) - SUM(A) * SUM(B)) /
    SQRT(
        (COUNT(*) * SUM(A * A) - POWER(SUM(A), 2))
        *
        (COUNT(*) * SUM(B * B) - POWER(SUM(B), 2))
    ) AS correlation
FROM data_table
'''
cursor.execute(query)
result = cursor.fetchone()
print("H·ªá s·ªë t∆∞∆°ng quan Pearson:", result[0])

conn.close()

H·ªá s·ªë t∆∞∆°ng quan Pearson: 1.0

B√†i 2

In [16]:
import sqlite3
import math
import pandas as pd
from scipy.stats import chi2_contingency

# B∆∞·ªõc 1: T·∫°o database, b·∫£ng v√† ch√®n d·ªØ li·ªáu

# K·∫øt n·ªëi ƒë·∫øn SQLite (t·∫°o file data.db n·∫øu ch∆∞a c√≥)
conn = sqlite3.connect('data.db')

# ƒêƒÉng k√Ω c√°c h√†m to√°n h·ªçc cho SQLite (SQRT v√† POWER)
conn.create_function('SQRT', 1, math.sqrt)
conn.create_function('POWER', 2, lambda x, y: x**y)

cursor = conn.cursor()

# X√≥a b·∫£ng n·∫øu ƒë√£ t·ªìn t·∫°i v√† t·∫°o b·∫£ng m·ªõi
cursor.execute("DROP TABLE IF EXISTS car_scores;")
cursor.execute("""
CREATE TABLE car_scores (
    day   VARCHAR(10),
    model VARCHAR(1),
    score FLOAT
);
""")
conn.commit()

# X√≥a d·ªØ li·ªáu c≈© (n·∫øu c√≥) v√† ch√®n d·ªØ li·ªáu m·∫´u
cursor.execute("DELETE FROM car_scores;")
sample_data = [
    ('Day1', 'A', 8.0),
    ('Day1', 'B', 9.0),
    ('Day1', 'C', 7.0),
    ('Day2', 'A', 7.5),
    ('Day2', 'B', 8.0),
    ('Day2', 'C', 7.5),
    ('Day3', 'A', 8.0),
    ('Day3', 'B', 9.0),
    ('Day3', 'C', 7.0),
    ('Day4', 'A', 8.0),
    ('Day4', 'B', 9.0),
    ('Day4', 'C', 7.0)
]
cursor.executemany("INSERT INTO car_scores (day, model, score) VALUES (?, ?, ?)", sample_data)
conn.commit()

# B∆∞·ªõc 2: Pivot d·ªØ li·ªáu theo day ƒë·ªÉ ki·ªÉm tra ph√¢n ph·ªëi c√°c nh√≥m ƒëi·ªÉm
# Ph√¢n lo·∫°i ƒëi·ªÉm (score) th√†nh 3 nh√≥m:
# - Low: score < 7
# - Medium: 7 ‚â§ score < 9
# - High: score ‚â• 9
query_pivot = """
SELECT 
    day,
    SUM(CASE WHEN score < 7 THEN 1 ELSE 0 END) AS Low,
    SUM(CASE WHEN score >= 7 AND score < 9 THEN 1 ELSE 0 END) AS Medium,
    SUM(CASE WHEN score >= 9 THEN 1 ELSE 0 END) AS High
FROM car_scores
GROUP BY day;
"""
cursor.execute(query_pivot)
print("B·∫£ng t·∫ßn su·∫•t theo ng√†y (Day √ó [Low, Medium, High]):")
for row in cursor.fetchall():
    print(row)

# B∆∞·ªõc 3: ƒê·ªçc d·ªØ li·ªáu qua Pandas ƒë·ªÉ t·∫°o b·∫£ng t·∫ßn su·∫•t theo model
df = pd.read_sql_query("SELECT * FROM car_scores", conn)

# ƒê√≥ng k·∫øt n·ªëi sau khi l·∫•y xong d·ªØ li·ªáu
conn.close()

# H√†m ph√¢n lo·∫°i ƒëi·ªÉm
def categorize_score(s):
    if s < 7:
        return 'Low'
    elif s < 9:
        return 'Medium'
    else:
        return 'High'

# T·∫°o c·ªôt m·ªõi: score_category
df['score_category'] = df['score'].apply(categorize_score)

print("\nD·ªØ li·ªáu sau khi th√™m c·ªôt ph√¢n lo·∫°i (score_category):")
print(df)

# T·∫°o b·∫£ng t·∫ßn su·∫•t (contingency table) theo m·∫´u xe (model) v√† score_category
contingency_table = pd.crosstab(df['model'], df['score_category'])
print("\nB·∫£ng t·∫ßn su·∫•t (Contingency Table):")
print(contingency_table)

# B∆∞·ªõc 4: Th·ª±c hi·ªán ki·ªÉm ƒë·ªãnh Chi-square
chi2, p_value, dof, expected = chi2_contingency(contingency_table)

print("\nK·∫øt qu·∫£ ki·ªÉm ƒë·ªãnh Chi-square:")
print("Chi2 statistic =", chi2)
print("p-value        =", p_value)
print("Degrees of Freedom =", dof)
print("Expected frequencies:\n", expected)

B·∫£ng t·∫ßn su·∫•t theo ng√†y (Day √ó [Low, Medium, High]):
('Day1', 0, 2, 1)
('Day2', 0, 3, 0)
('Day3', 0, 2, 1)
('Day4', 0, 2, 1)

D·ªØ li·ªáu sau khi th√™m c·ªôt ph√¢n lo·∫°i (score_category):
     day model  score score_category
0   Day1     A    8.0         Medium
1   Day1     B    9.0           High
2   Day1     C    7.0         Medium
3   Day2     A    7.5         Medium
4   Day2     B    8.0         Medium
5   Day2     C    7.5         Medium
6   Day3     A    8.0         Medium
7   Day3     B    9.0           High
8   Day3     C    7.0         Medium
9   Day4     A    8.0         Medium
10  Day4     B    9.0           High
11  Day4     C    7.0         Medium

B·∫£ng t·∫ßn su·∫•t (Contingency Table):
score_category  High  Medium
model
A                  0       4
B                  3       1
C                  0       4

K·∫øt qu·∫£ ki·ªÉm ƒë·ªãnh Chi-square:
Chi2 statistic = 7.999999999999999
p-value        = 0.018315638888734186
Degrees of Freedom = 2
Expected frequencies:
 [[1. 3.]
 [1. 3.]
 [1. 3.]]

K·∫æT LU·∫¨N :

-K·∫øt qu·∫£ th·ª≠ nghi·ªám ph·ª• thu·ªôc v√†o m·∫´u xe

-Kh√¥ng ph·ª• thu·ªôc v√†o ng√†y

B√ÄI 3

In [21]:
import sqlite3

# 1. K·∫øt n·ªëi c∆° s·ªü d·ªØ li·ªáu SQLite
conn = sqlite3.connect("flights.db")
cursor = conn.cursor()

# 2. T·∫°o b·∫£ng flights v√† ch√®n d·ªØ li·ªáu m·∫´u
cursor.execute("DROP TABLE IF EXISTS flights")  # X√≥a n·∫øu ƒë√£ c√≥ b·∫£ng c≈©
cursor.execute("""
CREATE TABLE flights (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    departure_time INTEGER
)
""")

# Th√™m d·ªØ li·ªáu m·∫´u 
sample_times = [(830,), (1445,), (50,), (1230,), (2102,)]
cursor.executemany("INSERT INTO flights (departure_time) VALUES (?)", sample_times)
conn.commit()

# 3. H√†m Python ƒë·ªÉ chuy·ªÉn s·ªë nguy√™n sang ƒë·ªãnh d·∫°ng th·ªùi gian
def format_time(time_int):
    time_str = f"{time_int:04d}"  # ƒê·∫£m b·∫£o 4 ch·ªØ s·ªë (0030, 0830, etc.)
    hour = int(time_str[:2])
    minute = time_str[2:]

    period = "AM" if hour < 12 else "PM"
    hour_12 = hour % 12
    hour_12 = 12 if hour_12 == 0 else hour_12

    return f"{hour_12}:{minute} {period}"

# 4. Th√™m c·ªôt m·ªõi formatted_time v√†o b·∫£ng ƒë·ªÉ l∆∞u th·ªùi gian chuy·ªÉn ƒë·ªïi
cursor.execute("ALTER TABLE flights ADD COLUMN formatted_time TEXT")

# 5. C·∫≠p nh·∫≠t c√°c gi√° tr·ªã formatted_time
cursor.execute("SELECT id, departure_time FROM flights")
rows = cursor.fetchall()
for row in rows:
    flight_id, dep_time = row
    formatted = format_time(dep_time)
    cursor.execute("UPDATE flights SET formatted_time = ? WHERE id = ?", (formatted, flight_id))
conn.commit()

# 6. Hi·ªÉn th·ªã k·∫øt qu·∫£ cu·ªëi c√πng
print("D·ªØ li·ªáu sau khi chuy·ªÉn ƒë·ªïi:")
for row in cursor.execute("SELECT * FROM flights"):
    print(row)

# 7. ƒê√≥ng k·∫øt n·ªëi
conn.close()

D·ªØ li·ªáu sau khi chuy·ªÉn ƒë·ªïi:
(1, 830, '8:30 AM')
(2, 1445, '2:45 PM')
(3, 50, '12:50 AM')
(4, 1230, '12:30 PM')
(5, 2102, '9:02 PM')

B√ÄI 4

In [22]:
import sqlite3
import statistics

# K·∫øt n·ªëi SQLite
conn = sqlite3.connect("doanh_thu.db")
cursor = conn.cursor()

# T·∫°o b·∫£ng v√† th√™m d·ªØ li·ªáu m·∫´u
cursor.execute("""
CREATE TABLE IF NOT EXISTS doanh_thu (
    so_tien REAL
)
""")
cursor.execute("DELETE FROM doanh_thu")  # X√≥a d·ªØ li·ªáu c≈© n·∫øu c√≥
sample_data = [(200,), (210,), (190,), (205,), (1000,), (195,), (215,), (220,), (198,)]
cursor.executemany("INSERT INTO doanh_thu (so_tien) VALUES (?)", sample_data)
conn.commit()

PH√ÇN T√çCH NGO·∫†I L·ªÜ (Z-score)
- Trung b√¨nh: 292.56
- ƒê·ªô l·ªách chu·∫©n: 265.47
- Ng∆∞·ª°ng Z-score: ¬±2.5

C√ÅC GI√Å TR·ªä NGO·∫†I L·ªÜ:
- 1000.00 (Z-score = 2.66)

B√ÄI 5

In [24]:
import sqlite3
import pandas as pd

# K·∫øt n·ªëi ƒë·∫øn database
conn = sqlite3.connect("company.db")
cursor = conn.cursor()

# T·∫°o b·∫£ng Employee v√† th√™m d·ªØ li·ªáu m·∫´u
cursor.execute("DROP TABLE IF EXISTS Employee")
cursor.execute("""
    CREATE TABLE Employee (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        last_name TEXT,
        salary REAL,
        age INTEGER
    )
""")

# Th√™m d·ªØ li·ªáu m·∫´u (gi·∫£ l·∫≠p c√≥ th·ªÉ tr√πng nhau)
sample_employees = [
    ("Nguyen", 1200, 30),
    ("Nguyen", 1180, 29),
    ("Le", 1500, 40),
    ("Le", 2400, 42),
    ("Tran", 1350, 33),
    ("Tran", 1345, 34),
    ("Pham", 1800, 28)
]

cursor.executemany("INSERT INTO Employee (last_name, salary, age) VALUES (?, ?, ?)", sample_employees)
conn.commit()

# Truy v·∫•n ph√°t hi·ªán c√°c nh√¢n vi√™n c√≥ h·ªç gi·ªëng v√† l∆∞∆°ng g·∫ßn gi·ªëng (ch√™nh kh√¥ng qu√° 1000)
query = """
SELECT 
    e1.last_name AS name1,
    e2.last_name AS name2,
    e1.salary AS salary1,
    e2.salary AS salary2,
    ABS(e1.salary - e2.salary) AS salary_diff,
    e1.age AS age1,
    e2.age AS age2
FROM Employee e1
JOIN Employee e2
  ON e1.id < e2.id
WHERE e1.last_name = e2.last_name
  AND ABS(e1.salary - e2.salary) <= 1000;
"""

# Th·ª±c hi·ªán truy v·∫•n v√† hi·ªÉn th·ªã k·∫øt qu·∫£
df = pd.read_sql_query(query, conn)
print("üìã C√°c c·∫∑p nh√¢n vi√™n c√≥ th·ªÉ l√† c√πng ng∆∞·ªùi ho·∫∑c b·ªã nh·∫≠p tr√πng:\n")
print(df)

# ƒê√≥ng k·∫øt n·ªëi
conn.close()

üìã C√°c c·∫∑p nh√¢n vi√™n c√≥ th·ªÉ l√† c√πng ng∆∞·ªùi ho·∫∑c b·ªã nh·∫≠p tr√πng:

    name1   name2  salary1  salary2  salary_diff  age1  age2
0  Nguyen  Nguyen   1200.0   1180.0         20.0    30    29
1      Le      Le   1500.0   2400.0        900.0    40    42
2    Tran    Tran   1350.0   1345.0          5.0    33    34